#container {
	border:solid #000000;
	width:600px;
	height:350px;
	margin:0 auto; 
}
#time {
	width:500px; 
	height:240px;
	margin:0 auto; 
	font-size: 40px;
	font-weight: bolder;
	line-height: 250px;
	text-align: center;
}
#btn { 
	width:600px; 
	height:80px;
	margin:0 auto; 
}
button {
	background: #ffffff;
	width:120px;  
	height:50px;
	margin:0 38px; 
	font-size: 30px;
	text-align: center;
	border-radius: 10px;
}
input {
	width: 120px;
	font-size: 50px;
	text-align: center;				
}